<!-- <nav
	class="overflow-x-scroll overflow-x-visible-ns flex justify-between
	items-center center bg-white divider-grey relative"> -->
	<!-- Logo -->
	<!-- <a href="/" class="pa3 db mr4 h-100 w3 flex-none">
		<img
			src="/img/logo.png"
			alt="Sparkle Dental Clinic"
			class="br0 db mb0 w-100"
			/>
	</a> -->

	<!-- Primary Nav -->
	<!-- <ul class="flex b grey-3">
		<li><a href="/about-us" class="pa3 no-underline db">About</a></li>

		<li><a href="/services" class="pa3 no-underline db">Services</a></li>

		<li><a href="/post" class="pa3 no-underline db">Blog</a></li>

		<li><a href="/contact" class="pa3 no-underline db">Contact</a></li>
	</ul>
</nav> -->

<nav class="db dt-l w-100 border-box pa3 ph5-l bg-white divider-grey">
	<a
		class="db dtc-l v-mid mid-gray link dim w-100 w-25-l tc tl-l mb2 mb0-l"
		href="/"
		title="Home">
		<img src="/img/logo.png" class="dib w2 h2 br-100" alt="Sparkle Dental Clinic" />
	</a>
	<div class="db dtc-l v-mid w-100 w-75-l tc tr-l b">
		<a class="link dim dark-gray f6 f5-l dib mr3 mr4-l" href="/" title="Home">Home</a>
		<a
			class="link dim dark-gray f6 f5-l dib mr3 mr4-l"
			href="/about-us"
			title="How it Works">About</a>
		<a
			class="link dim dark-gray f6 f5-l dib mr3 mr4-l"
			href="/services"
			title="Blog">Services</a>
		<a
			class="link dim dark-gray f6 f5-l dib mr3 mr4-l"
			href="/post"
			title="Press">Blog</a>
		<a class="link dim dark-gray f6 f5-l dib" href="/contact" title="Contact">Contact</a>
	</div>
</nav>
